.comment__card {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 32px 0;
}

.comment__card a {
    color: #000;
    transition: .2s ease;
}

.comment__card a:hover {
    color: #ec1c24;
}

.card__left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	margin-right: 16px;
	max-height: 72px;
	max-width: 72px;
	border-radius: 50%;
	overflow: hidden;
}

.card__left a {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
}

.card__left a img {
	min-width: 100%;
    min-height: 100%;
    flex-shrink: 1;
    object-fit: cover;
}

.card__username,
.card__comment,
.card__date {
    font-size: 15px;
}

.card__comment {
    font-size: 18px;
    margin: 7px 0;
}

.tags__inner {
    display: flex;
}

.tag:nth-child(1) {
    margin: 6px 4px 0 0;
}

.tag {
    margin: 6px 4px 0;
    background-color: #ec1c24;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease;
}

.tag a {
    color: #fff !important;
}

.tag:hover {
    background-color: #d1171e;
}