.footer {
    padding: 28px 0;
    color: #fff;
    text-align: center;
    background-color: rgba(23, 25, 40, 0.6);
    backdrop-filter: blur(10px);
}

.footer__title {
    font-size: 28px;
    padding: 12px 0;
}


.footer__links {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.footer__links a {
    display: block;
    padding: 6px 8px;
    margin: 0px 5px 5px 5px;
    border-radius: 4px;
}

.footer__links a:hover {
    color: #171928;
    background-color: #fff;
}

.footer__p {
    padding: 5px 0px;
    font-size: 14px;
}