.navbar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    background-color: rgba(23, 25, 40, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 6px;

    align-items: center;
    overflow: hidden;
    max-height: 64px;
}

.navbar__left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.navbar__link {
    display: block;
    padding: 100% 16px;
    /*    font-size: 14px;*/
}

.navbar__form button {
    color: #fff;
    transition: 0.2s ease;
    padding: 100% 16px;
    /*    font-size: 14px;*/
}

.navbar__link:hover,
.navbar__form button:hover {
    color: #171928;
    background-color: #fff;
}

.avatar__picture img {
    border-radius: 50px;
}