@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input[type="file"] {
  display: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.active {
    background-color: #fff !important;
    color: #171928 !important;
}

.icon {
    background: transparent;
    width: 24px;
}

.icon img {
    width: 100%;
    height: auto;
}

.btn-flat {
    width: 32px;
    height: 32px;
}