<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Forum - ' + ${article.title}">Forum - Article</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/post-article.css}">
    <link rel="stylesheet" th:href="@{/css/comments.css}">

    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/image/site-logo.png}">
</head>
<body>

<div class="container">
    <div th:replace="~{blocks/header :: header}"/>
    <div th:replace="~{blocks/navbar :: navbar}"/>

    <div th:replace="~{blocks/post-article :: postForm}"/>

    <div class="main__block">
        <div class="article__date">
            <a th:text="${article.date}" th:href="@{'/articles/date/' + ${date_formatted}}">12.12.2023</a>
        </div>

        <div class="page__title">
            <h1 th:text="${article.title}">Article Title Lorem ipsum dolor ipsum.</h1>
        </div>

        <div class="author">
            <a th:href="@{'/user/' + ${article.author.username}}">
                <div class="author__picture">
                    <img alt="profile" width="24" height="24" th:src="@{/image/user_picture.jpg}" class="avatar">
                </div>
                <div th:text="${article.author.nickname}"/>
            </a>
        </div>

        <div th:text="${article.content}" class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            In ducimus a rem eveniet autem dolores animi eaque nihil
            voluptatum quidem fugit hic dolorem obcaecati temporibus
            nulla vel accusamus, harum molestiae. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Cumque reiciendis fugit,
            et, repellendus dolorem, voluptatum, nam aperiam cum soluta
            rem odio est laudantium deleniti incidunt temporibus voluptate
            aliquam sit. Accusamus iusto dolorem asperiores alias harum
            beatae voluptate amet eius doloremque velit distinctio veniam
            impedit cum fuga, cupiditate doloribus reprehenderit nam aut
            aliquam. Fugit explicabo nisi impedit nulla deserunt veritatis, eius.
        </div>

        <div th:if="${!images.empty}" th:each="image : ${images}" class="images">
            <div class="article__image">
                <img th:src="@{${image.url}}" th:alt="${image.alt}">
            </div>
        </div>

        <div th:if="${!article.articleTags.empty}" class="tags">
            <div class="tag__title"><b>Tags</b></div>
            <div class="tags__inner">
                <div th:each="tag : ${article.articleTags}" class="tag">
                    <a th:href="@{'/articles/tag/' + ${tag.name}}" th:text="${tag.name}">Tag</a>
                </div>
            </div>
        </div>

        <form th:action="@{/article/} + ${id}" method="post">
            <div class="comment">
                <textarea name="content" id="comment" rows="8" placeholder="Comment this article"></textarea>
            </div>
            <button type="submit">Comment</button>
        </form>

        <div th:if="${!article.articleComments.empty}" th:replace="~{blocks/comments :: article-comments}"/>
        <div th:if="${article.articleComments.empty}" style="text-align: center;
        font-size: 18px; color: grey; padding: 18px 0"><i>No comments here yet.</i></div>
    </div>

    <div class="table__pagination">
        <button>Prev page</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>Next page</button>
    </div>
</div>
<div th:replace="~{blocks/footer :: footer}"/>
<script th:src="@{/scripts/commentEdit.js}"></script>
<script th:src="@{/scripts/showForm.js}"></script>
<script th:src="@{/scripts/showMenu.js}"></script>
</body>
</html>