<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Forum - Public Article</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <link rel="stylesheet" th:href="@{/css/post-article.css}">

    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/image/logo.png}">
</head>

<body>
<div class="container">
    <div th:replace="~{blocks/header :: header}"/>
    <div th:replace="~{blocks/navbar :: navbar}"/>

    <div class="main__block">
        <section class="post__article">
            <form th:action="@{/article/post}" method="post">
                <div class="post__user">
                    <a th:href="@{${user_url}}" th:text="'Posting as ' + ${username}">Posting as {USERNAME}</a>
                </div>
                <div class="post__title">
                    <p>Title</p>
                    <input type="text" name="title">
                </div>
                <div class="post__content">
                    <p>Content</p>
                    <textarea name="text" id="post__content" cols="30" rows="10"></textarea>
                </div>
                <button id="public__article" type="submit">Public</button>
            </form>
        </section>
    </div>

</div>
<div th:replace="~{blocks/footer :: footer}"/>
</body>
</html>