<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum - Post Article</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <link rel="stylesheet" th:href="@{/css/comments.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">

    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/image/site-logo.png}">
</head>
<body>

<div class="container">
    <div th:replace="~{blocks/header :: header}"/>
    <div th:replace="~{blocks/navbar :: navbar}"/>

    <div class="main__block">

        <div class="article__date"> <!-- TODO: Make category with the articles posted in that day -->
            <a th:text="${date}" th:href="@{'/articles/' + ${date_formatted}}">12.12.2023</a>
        </div>

        <div class="page__title">
            <h1 th:text="${title}">Article Title Lorem ipsum dolor ipsum.</h1>
        </div>

        <div class="author">
            <a th:text="${author}" href="#">Us3rN4me</a>
        </div>

        <div th:text="${text}" class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ducimus a rem eveniet autem dolores animi eaque nihil voluptatum quidem fugit hic dolorem obcaecati temporibus nulla vel accusamus, harum molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque reiciendis fugit, et, repellendus dolorem, voluptatum, nam aperiam cum soluta rem odio est laudantium deleniti incidunt temporibus voluptate aliquam sit. Accusamus iusto dolorem asperiores alias harum beatae voluptate amet eius doloremque velit distinctio veniam impedit cum fuga, cupiditate doloribus reprehenderit nam aut aliquam. Fugit explicabo nisi impedit nulla deserunt veritatis, eius.
        </div>

        <div th:if="${!images.empty}" th:each="image : ${images}" class="images">
            <div class="article__image">
                <img th:src="@{${image.url}}" th:alt="${image.alt}">
            </div>
        </div>

        <form th:action="@{/article/comment-} + ${id}" method="post">
            <div class="comment">
                <textarea name="content" id="comment" rows="8" placeholder="Comment this article"></textarea>
            </div>
            <button type="submit">Comment</button>
        </form>

        <div th:if="${!comments.empty}" th:each="comment : ${comments}" class="user__comments">
            <div class="comment__card">
                <div class="card__left">
                    <div class="user__avatar">
                        <a href="#">
                            <img th:src="@{/image/user_picture.jpeg}" alt="User's prof. picture">
                        </a>
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__username">
                        <a th:text="${comment.author}" href="#">
                            TF U MEAN 'NUH UH'?
                        </a>
                    </div>
                    <div th:text="${comment.content}" class="card__comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consectetur, et sunt aut? Maxime, repudiandae voluptate praesentium vitae fugiat ullam corporis tempore architecto saepe delectus eum iusto nisi hic suscipit?
                    </div>
                    <div th:text="${comment.date}" class="card__date">18.12.2023</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table__pagination">
        <button>Prev page</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>Next page</button>
    </div>

</div>
<div th:replace="~{blocks/footer :: footer}"/>

</body>
</html>