<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum - Write an Article</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/post-article.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/image/site-logo.png}">
</head>
<body>
<div class="container">
    <div th:replace="~{blocks/header :: header}"/>
    <div th:replace="~{blocks/navbar :: navbar}"/>

    <div class="main__block">
        <section class="post__article">
            <form th:action="@{/article/post}" method="post">
                <div class="post__user">
                    <a th:href="@{${user_url}}" th:text="'Posting as ' + ${username}">Posting as USERNAME</a>
                </div>
                <div class="post__title default-input w100p">
                    <p>Title (max 255 chars)</p>
                    <input name="title" type="text" id="inputField" maxlength="255" required>
                </div>
                <div class="post__content default-input w100p">
                    <p>Content</p>
                    <textarea name="text" id="text-area" cols="30" rows="10" required></textarea>
                </div>
                <div class="post__image default-input w100p">
                    <label for="images">Upload your images</label>
                    <input type="file" id="images" name="image" disabled>
                </div>
                <div class="post__tags default-input w100p">
<!--                    <p>Tags (add by clicking <b>space</b>)</p>-->
                    <p>Tags (separate the tags with <b>,</b>)</p>
                    <div class="tags__inner">
                        <div id="tags-container"></div>
                        <input name="tags" type="text" id="tag-input" placeholder="Add a tag"> <!--remove name once js script works properly-->
                    </div>
<!--                    <input name="tags" type="hidden" id="textInput">-->
                </div>
                <button id="public__article" type="submit">Public</button>
            </form>
        </section>
    </div>
</div>
<div th:replace="~{blocks/footer :: footer}"/>
<script th:src="@{/scripts/showForm.js}"></script>
<script th:src="@{/scripts/showMenu.js}"></script>
</body>
</html>