<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum - Latest</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/post-article.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/image/site-logo.png}">
</head>
<body>
    <div class="container">
        <div th:replace="~{blocks/header :: header}"/>
        <div th:replace="~{blocks/navbar :: navbar}"/>

        <div th:replace="~{blocks/post-article :: postForm}"/>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <span>Topic</span>
                    </th>
                    <th th:if="!${articles.empty}">
                        <span>Users</span>
                    </th>
                    <th th:if="!${articles.empty}">
                        <span>Views</span>
                    </th>
                    <th th:if="!${articles.empty}">
                        <span>Last Activity</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${articles}">
                    <td>
                        <div class="table__td">
                            <div class="table__author">
                                <a th:href="@{'/user/' + ${article.author.username}}" th:text="${article.author.nickname}"></a>
                            </div>
                            <div class="table__title">
                                <a th:href="@{'/article/' + ${article.id}}" th:text="${article.title}"></a>
                            </div>
                            <div class="table__tags">
                                <a th:each="tag : ${article.articleTags}"
                                   th:href="@{'/articles/tag/' + ${tag.name}}"
                                   th:text="${tag.name}" class="table__tag">Tag</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="table__avatars">
                            <img alt="profile" width="24" height="24" th:src="@{/image/user_picture.jpg}" class="avatar">
                            <img alt="profile" width="24" height="24" th:src="@{/image/user_picture.jpg}" class="avatar">
                            <img alt="profile" width="24" height="24" th:src="@{/image/user_picture.jpg}" class="avatar">
                            <img alt="profile" width="24" height="24" th:src="@{/image/user_picture.jpg}" class="avatar">
                        </div>
                    </td>
                    <td th:text="${article.views}">5.4K</td>
                    <td th:text="${article.date}">04.11.2023</td>
                </tr>
                <tr th:if="${articles.empty}">
                    <td>
                        <p style="font-size: 24px;
                            text-align: center; padding: 12px 0;
                            background-color: #fff">
                            Huh? No articles here?? You should write one!
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table__pagination">
            <button>Prev page</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>Next page</button>
        </div>
    </div>
    <div th:replace="~{blocks/footer :: footer}"/>
    <script th:src="@{/scripts/showForm.js}"></script>
    <script th:src="@{/scripts/showMenu.js}"></script>
</body>
</html>