<header th:fragment="header" class="header">
    <div class="header__left">
        <div class="header__logo" style="display: flex">
            <a th:href="@{/latest}" class="logo__link">
                <img th:src="@{/image/logo.png}"
                     alt="forum logo">
            </a>
        </div>
        <div class="panel">
            <button aria-haspopup="true" title="Search"
                    id="search-button" class="icon btn-flat">
                <img th:src="@{/image/search.png}" alt="search">
            </button>

            <button title="User" onclick="showMenu()"
                    id="user-btn" class="icon btn-flat">
                <div class="avatar__picture">
                    <img alt="profile" width="48" height="48"
                         th:src="@{/image/user_picture.jpg}"
                         title="user" class="profile picture">
                </div>
                <div class="menu" id="menuOptions">
                    <div class="menu__link">
                        <a th:href="@{'/user/' + ${#authentication.name}}">Profile</a>
                    </div>
                    <div class="menu__link">
                        <a th:href="@{'/user/' + ${#authentication.name} + '/settings'}">Settings</a>
                    </div>
                    <div class="menu__link">
                        <a th:href="@{/tech-support}">Tech Support</a>
                    </div>
                </div>
            </button>

            <form id="logout-form" th:action="@{/logout}" method="post">
                <button type="submit">
                    <img th:src="@{/image/logout.png}" alt="logout">
                </button>
            </form>
        </div>
    </div>
</header>